body{
    background-color: #C84B31;
    color: white;
}

header{
    position: fixed;
    top: 0;
 padding: 15px;
 width: 100%;
 background-color: #1f1f1f;
 z-index: 10;
 box-shadow: 0px 2px 2px  #E1E8EB;
}
footer{
    margin-top: 20px;
}



img{
    vertical-align: middle;
    width: 75px;
    height: 75px;
}
header li{
    font-size:20px;
    display: inline-block;
    width: 120px;
    height: 60px;
}
header li{
    padding: 5px;
   color:white;
    text-align: center;
    background-color: #1f1f1f;
}

header li:hover,header li:hover a{

    text-align: center;
    background-color: white;
    color: #1f1f1f;
    text-decoration: none;
}

header li:hover,header li:hover img{

    text-align: center;
    background-color: #1f1f1f;
    color: #1f1f1f;
    text-decoration: none;
}

/* header li a:link{

    color:#E1E8EB;
    background-color: #1f1f1f;
}

header li a:hover{
    background-color: #E1E8EB;
    color: #1f1f1f;
} */

h2{
    text-align: left;
    font-size: 50px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
/* section{
    text-align: center;
} */
#section1{
    text-align: center;
    margin: 20px;
}
main{
    z-index: 5;
    position: relative;
    top:140px;
}
#section1{

    margin-bottom: 20px;
}
#section2{
    margin: 20px;
}

#section2 ul{
    list-style-type: square;
}

#section3 ul{
    padding: 30px;
    list-style-type: square;
}
#section3 ul li{
    margin: 10px;
}

#section2 ul li{
    margin: 10px;
}

footer{
    text-align: center;
    padding: 15px;
}




#section4 ol{
   padding: 50px;
   list-style-type: decimal;
   background-color: #1f1f1f;
   color: #343A40;
}
#section4 ol li{
    width: 300px;
    margin: 3px;
   padding: 10px;
   background-color: #343A40;
   color: #E1E8EB;
 
 
 }

 hr{
     color: #1f1f1f;
     border: 1px solid #1f1f1f;
     border-width: 2px 0 0 0;
 }