

body{
    /* background-color: #C84B31; */
    color: #777;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;

}

.header{
 position: relative;
 height: 95vh;
 background-image:linear-gradient(to bottom right,rgba(120, 135, 120, 0.753),rgba(152, 137, 152, 0.753)),url(../p-bk.jpg);
 clip-path: polygon(0 0,100% 0, 100% 75vh,0 100%);
 background-size: cover;
 background-position: top;
 box-shadow: 0px 2px 2px  #E1E8EB;
}
.logo-box{
    position: absolute;
    top: 30px;
    left: 30px;
}
.logo{
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading-primary{
    text-transform: uppercase;
    color: #fff;
  
}
.heading-primary-main{
display: block;
letter-spacing: 36px;
font-size: 30px;
font-weight: 400;
margin-bottom: 60px;
}

.heading-primary-sub{
display: block;
letter-spacing: 60.4px;
font-weight:700 ;
font-size: 20px;
}

footer{
    margin-top: 20px;
    display: block;
}



img{
    vertical-align: middle;
    width: 75px;
    height: 75px;
}
header li{
    font-size:20px;
    display: inline-block;
    width: 120px;
    height: 60px;
}
header li{
    padding: 5px;
   color:white;
    text-align: center;
    background-color: #1f1f1f;
}

header li:hover,header li:hover a{

    text-align: center;
    background-color: white;
    color: #1f1f1f;
    text-decoration: none;
}

header li:hover,header li:hover img{

    text-align: center;
    background-color: #1f1f1f;
    color: #1f1f1f;
    text-decoration: none;
}

/* header li a:link{

    color:#E1E8EB;
    background-color: #1f1f1f;
}

header li a:hover{
    background-color: #E1E8EB;
    color: #1f1f1f;
} */

h2{
    text-align: left;
    font-size: 50px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
/* section{
    text-align: center;
} */
#section1{
    text-align: center;
    margin: 20px;
}
main{
    z-index: 5;
    position: relative;
    top:140px;
}
#section1{

    margin-bottom: 20px;
}
#section2{
    margin: 20px;
}

#section2 ul{
    list-style-type: square;
}

#section3 ul{
    padding: 30px;
    list-style-type: square;
}
#section3 ul li{
    margin: 10px;
}

#section2 ul li{
    margin: 10px;
}

footer{
    text-align: center;
    padding: 15px;
}

p{
    animation-name: aa;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    
}
#section4{

    background-color: rgba(120, 135, 120, 0.753);
    color: white;
}

#section4 ol{
   padding: 50px;
   list-style-type: decimal;
}
#section4 ol li{
    width: 300px;
    margin: 3px;
   padding: 10px;

 
 
 }

 hr{
     color: #1f1f1f;
     border: 1px solid #1f1f1f;
     border-width: 2px 0 0 0;
 }

 @keyframes aa{
     0%{
         opacity: 0;
transform:translate(-10%,0%);
     }

     100% {
         opacity: 1;
        transform:translate(10%,0%);
     }
 }